version: '3.8'
services:
  gophish:
    image: gophish/gophish:latest
    container_name: gophish
    ports:
      - "3333:3333"
      - "8080:80"
    volumes:
      - ./data:/opt/gophish/data
      - ./ssl:/opt/gophish/ssl
    restart: unless-stopped
